@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #0F0F1A;
  color: white;
  font-family: Inter, sans-serif;
}

.game-bg{
  background-color: yellow;
}